*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 1150px ;
    
    
  }
  
  header{
    display: flex;
    align-items: center;
    max-width: 1150px;
    background-color: black;
  }
  
  .logo{
    margin-left: 30px;
  }
  
  .list{
    display: flex;
    list-style: none;
    flex-grow: 1;
    margin-left: 55px;
  }
  
  a{
    color: white;
    text-decoration: none; 
  }
  
  ul li{
    padding: 15px 25px 20px 25px;;
    font-size: 10px;
    cursor: pointer;
  }
  
  .btn1{
    margin-right: 45px;
    font-size:10px;
    padding: 4px 15px;
    border: none;
    border-radius: 3px;
    background-color:#ba0cc5;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  main{
    margin-left: 320px;
    margin-top: 140px;
  
    position: relative;
    text-align: center;
  
  }
  
  h1{
    color: white;
    max-width: 500px;
    font-size: 45px;
    letter-spacing: 0.02em;
    line-height: 60px;
    text-align: center;
  }
  
  p{
    color: #ffffff;
    position: absolute;
    left: 6%;
    
  }
  
  .btn2{
    /* margin-left: 160px;
    margin-top: 40px; */
    color: white;
    background-color: #ba0cc5;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    /* letter-spacing: 0.01em; */
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 150%;
    left: 15%;
  }
  
  
  
  
  
  